# Dependency directories
node_modules/
dapp-lab/node_modules/

# Environment files
.env
dapp-lab/.env

# Hardhat files
dapp-lab/cache/
dapp-lab/artifacts/

# TypeChain files
dapp-lab/typechain/
dapp-lab/typechain-types/

# solidity-coverage files
dapp-lab/coverage/
dapp-lab/coverage.json

# Hardhat Ignition default folder for deployments against a local node
dapp-lab/ignition/deployments/chain-31337

# OS and system files
.DS_Store
Thumbs.db